<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" c-ontent="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/output.css">
    <title>Train Of Thought</title>
</head>

<body>
    <!-- Header section will be added here using script -->
    <hr class="border border-black my-6 lg:hidden">
    <section id="featured-post-section" class="container m-auto p-4 lg:p-8 lg:mt-16">
        <div id="featured-post" class="relative">
            <div id="label"
                class="relative w-4/5 md:w-3/5 border border-black inline-block text-sm  uppercase p-2 tracking-[0.4rem] z-10 bg-white lg:p-4 lg:text-3xl lg:tracking-[0.6rem] lg:font-light">
                <p class="w-full">Featured Post</p>
            </div>
            <div id="post-card-container" class="relative -top-8 border border-black flex flex-col">
                <img src="/src/assets/images/featured-post-image.webp" alt="">
                <div id="post-card-content" class="p-6 lg:p-12">
                    <p class="mb-4"><span class="text-xs text-gray-500 lg:text-base">Apr 14 . 2
                            min</span></p>
                    <div class="h-[6rem] overflow-hidden">
                        <h3
                            class="mb-4 text-2xl text-black-900 font-semibold hover:text-blue-700 lg:text-3xl lg:font-dark">
                            <a href="page/post.html">Back to Fiction: What I'm reading this summer</a>
                        </h3>
                        <p class="text-base lg:font-light">Create a blog post subtitle that summarizes your
                            post in a few short, punchy
                            sentences and entices your audience to continue reading.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <hr class="border border-black">

    <section id="never-miss-a-new-post"
        class="m-auto my-8 lg:my-12 p-4 flex flex-col justify-around items-center space-y-8 lg:flex-row lg:space-y-0 lg:items-end">

        <h2 class="text-3xl text-black-700 text-center font-serif font-medium">Never Miss a New Post.</h2>
        <div id="subscribe-input-container" class="flex items-end space-x-4">
            <div id="subscribe-input" class="basis-2/3 border-black border-b">
                <label for="" class="text-base text-gray-500">Enter your email *</label>
                <input type="text" class="w-full p-2 text-lg outline-0">
            </div>
            <button class="basis-1/3 bg-blue-700 text-base text-white p-2 h-fit">Subscribe</button>
        </div>
    </section>

    <hr class="border border-black">


    <div id="cols" class="container m-auto flex flex-col lg:flex-row">
        <div id="left-col" class="basis-2/3 mx-auto my-12 border-black lg:border-r-2 lg:p-8 lg:m-auto">
            <section id="posts" class="m-auto lg:p-8 lg:container flex flex-col">
                <div id="post-list-title">
                    <h3 class="text-postListTitle uppercase">Train of Thought</h3>
                </div>
                <div id="post-list" class="mt-12 flex flex-col justify-center space-y-24">
                    <!-- Posts go here -->

                </div>
                <button class="mt-8 w-fit p-2 px-8 bg-blue-700 text-white self-center text-base">More Posts</button>
            </section>
        </div>

        <div id="right-col" class="basis-1/3 lg:p-8">
            <section id="about-me" class="m-auto p-8 lg:container">
                <h3 class="text-postListTitle uppercase">About Me</h3>
                <div id="post-card-container" class="mt-8 border border-black flex flex-col">
                    <img src="./assets/images/about-me.webp" alt="">
                </div>

                <div class="mt-8 overflow-hidden text-base font-light tracking-wider leading-normal">
                    <p class="line-clamp-6">I'm a paragraph. Click here to add your own text and edit me. It’s easy.
                        Just click
                        “Edit Text” or double click me to add your own content and make changes to the font. I’m a great
                        place
                        for you to tell a story and let your users know a little more about you.</p>
                    <a href="" class="inline-block mt-4 hover:text-blue-700">Read More ></a>
                </div>


            </section>

            <hr class="lg:container border border-black">

            <section id="follow-me" class="m-auto p-8 lg:container">
                <h3 class="text-postListTitle uppercase">Follow Me</h3>

                <div id="social-posts" class="mt-8 flex flex-wrap box-content">
                    <img src="./assets/images/follow-me-1.jpg" alt="" class="w-1/2 p-1">
                    <img src="./assets/images/follow-me-2.jpg" alt="" class="w-1/2 p-1">
                    <img src="./assets/images/follow-me-3.jpg" alt="" class="w-1/2 p-1">
                    <img src="./assets/images/follow-me-4.jpg" alt="" class="w-1/2 p-1">
                    <img src="./assets/images/follow-me-5.jpg" alt="" class="w-1/2 p-1">
                    <img src="./assets/images/follow-me-6.jpg" alt="" class="w-1/2 p-1">
                    <img src="./assets/images/follow-me-7.jpg" alt="" class="w-1/2 p-1">
                    <img src="./assets/images/follow-me-8.jpg" alt="" class="w-1/2 p-1">
                    <img src="./assets/images/follow-me-9.jpg" alt="" class="w-1/2 p-1">
                    <img src="./assets/images/follow-me-10.jpg" alt="" class="w-1/2 p-1">
                </div>

                <div id="social-bar" class="mt-8 flex justify-center space-x-4">
                    <img src="./assets/icons/icon-facebook.svg" alt="" class="w-8">
                    <img src="./assets/icons/icon-twitter.svg" alt="" class="w-8">
                    <img src="./assets/icons/icon-instagram.svg" alt="" class="w-8">
                    <img src="./assets/icons/icon-pinterest.svg" alt="" class="w-8">
                </div>
            </section>

            <hr class="lg:container border border-black">

            <section id="never-miss-a-new-post" class="m-auto p-8 container">

                <h3 class="text-postListTitle uppercase">Subscribe</h3>
                <div id="subscribe-input-container" class="mt-2 flex flex-col space-y-10">
                    <div id="subscribe-input" class="mt-8 mr-8 w-full">
                        <label for="" class="text-sm text-gray-500">Enter your email *</label>
                        <input type="text"
                            class="mt-2 w-full p-2 text-base outline-0 border border-black hover:border-0 hover:border-b focus:border-0 focus:border-b">
                    </div>
                    <button class="bg-blue-700 text-base font-light text-white p-2 h-fit">Subscribe</button>
                </div>
            </section>

            <hr class="lg:container border border-black">

            <section id="pick-of-the-month" class="m-auto p-8 container">
                <h3 class="text-postListTitle uppercase">My Pick of The Month Me</h3>
                <div id="post-card-container" class="mt-8 border border-black flex flex-col">
                    <img src="./assets/images/pick-of-the-month.webp" alt="">
                </div>

                <div class="mt-8 overflow-hidden text-base font-light tracking-wider leading-normal">
                    <p class="line-clamp-6">I'm a paragraph. Click here to add your own text and edit me. It’s easy.
                        Just click
                        “Edit Text” or double click me to add your own content and make changes to the font. I’m a great
                        place
                        for you to tell a story and let your users know a little more about you.</p>Drop Me a Line, Let
                    Me Know
                    What You Think
                </div>


            </section>

            <hr class="lg:container border border-black">
        </div>
    </div>

    <hr class="border border-black">

    <section id="contact-me" class="m-auto p-8">
        <h2
            class="text-xl text-black-700 text-center font-serif font-medium leading-normal lg:text-3xl lg:font-semibold">
            Drop Me a Line, Let
            Me
            Know What You Think</h2>
        <div id="subscribe-input-container" class="mt-8 m-auto flex flex-col space-y-10 font-light lg:w-1/2">
            <div id="name" class="flex flex-col lg:flex-row lg:space-x-8">
                <div id="subscribe-input" class="mt-2 w-full border-black border-b">
                    <label for="" class="text-base text-gray-500">First Name</label>
                    <input type="text" class="mt-1 w-full p-2 text-base outline-0">
                </div>
                <div id="subscribe-input" class="mt-2 w-full border-black border-b">
                    <label for="" class="text-base text-gray-500">Last Name</label>
                    <input type="text" class="mt-1 w-full p-2 text-base outline-0">
                </div>
            </div>
            <div id="subscribe-input" class="mt-2 w-full border-black border-b">
                <label for="" class="text-base text-gray-500">Email *</label>
                <input type="text" class="mt-1 w-full p-2 text-base outline-0">
            </div>
            <div id="subscribe-input" class="mt-2 w-full border-black border-b">
                <label for="" class="text-base text-gray-500">Message...</label>
                <textarea type="text" class="mt-1 w-full p-2 text-base outline-0"></textarea>
            </div>
            <button
                class="w-full mt-8 m-auto bg-blue-700 text-base text-white p-2 h-fit lg:w-fit lg:px-24">Submit</button>
        </div>
    </section>



    <script src="/src/assets/js/data.js"></script>
    <script src="/src/assets/js/header.js"></script>
    <script src="/src/assets/js/script.js"></script>
    <script src="/src/assets/js/search.js"></script>
    <script src="/src/assets/js/footer.js"></script>
</body>


</html>